
<div>
    <script type="text/javascript">
         window.onload = function () 
         {                                
           alertify.message('@TempData["message"]');
         };  
    </script>
</div>