
@model LayoutModel
@{
    var categories = Model.Categories;
 
}



 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SimpleEcommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>

                @foreach(var category in categories)
                {
                    if(category.UpperCategory == null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-menu-xl-start" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             @category.Name
                            </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @foreach(var subcategory in categories)
                                {
                                    @if(subcategory.UpperCategory == category)
                                    {
                                        <a class="dropdown-item" asp-action="List" asp-controller="Product" asp-route-cname="@subcategory.SeoCode">@subcategory.Name</a>
                                    }
                                }

                               <hr class="dropdown-divider">
                                <a class="dropdown-item" href="/@category.SeoCode">@category.Name</a>
                            </div>
                        </li>
                        
                    }
                }
                
                     

                    </ul>
                </div>
            </div>
        </nav>


